<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>doctemplate</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<!-- build:js scripts/jquery.js -->
		<script src="bower_components/jquery/jquery.js"></script>
		<!-- endbuild -->

		<!-- build:js scripts/flatdoc.js -->
		<script src="scripts/lib/jquery.flatdoc.js"></script>
		<!-- endbuild -->


		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.tmp) styles/styles.css -->
		<link rel="stylesheet" href="styles/styles.css">
		<!-- endbuild -->

	</head>
	<body class="doctemplate">

		{{> navigation }}
		<div class="container">
			{{> body }}
		</div>



		<!-- build:js scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/fastclick/lib/fastclick.js"></script>
		<script src="bower_components/foundation/js/foundation.js"></script>
		<!-- endbower -->
		<script src="scripts/lib/jquery.scrollagent.js"></script>
		<script src="scripts/lib/jquery.scrollstick.js"></script>
		<!-- endbuild -->

		<!-- build:js scripts/main.js -->
		<script src="scripts/main.js"></script>
		<!-- endbuild -->
</body>
</html>
