{{!-- Read Markdown File --}}
<script>
Flatdoc.run({
  fetcher: Flatdoc.file('../docs/1.0.general.md')
});
</script>
{{!-- Required Flatdoc Markup  --}}
<div role="flatdoc">
	<div role="flatdoc-menu" class="menubar"></div>
	<div class="content-wrapper">
		<div class="row">
			<div role="flatdoc-content" class="content"></div>
		</div>
	</div>
</div>
