{{!-- Parse HTML--}}
<script>
	 $(document).ready(function(){
		var $content 	= $('[role="flatdoc-content"]'),
			$menu 		= $('[role="flatdoc-menu"]');


		var contentHtml = Flatdoc.transformer.mangle($content);

		$content.html(contentHtml);

		var menu = Flatdoc.transformer.getMenu($content);

		$menu.html(Flatdoc.menuView(menu));

		$("h1, h2, h3, h4, h5, h6").scrollagent(function(cid, pid, currentElement, previousElement) {
			if (pid) {
				$("[href='#"+pid+"']").removeClass('active');
			}
			if (cid) {
				$("[href='#"+cid+"']").addClass('active');
			}
		});

	});
</script>

<div role="flatdoc">
	<div role="flatdoc-menu" class="menubar"></div>
	<div class="content-wrapper">
		<div class="row">
			<div role="flatdoc-content" class="content">
	<h1 id="orbit">Orbit</h1>
	<h3 class="subheader">Orbit is an easy, powerful, responsive image slider that allows users to swipe on touch-enabled devices.</h3>
	<hr>
	<div class="orbit-container">
		<ul class="example-orbit" data-orbit>
			<li>
				<img src="http://placehold.it/1200x800" alt="slide 1" />
				<div class="orbit-caption">
					Caption One.
				</div>
			</li>
			<li>
				<img src="http://placehold.it/1200x800" alt="slide 2" />
				<div class="orbit-caption">
					Caption Two.
				</div>
			</li>
			<li>
				<img src="http://placehold.it/1200x800" alt="slide 3" />
				<div class="orbit-caption">
					Caption Three.
				</div>
			</li>
		</ul>
	</div>
	<hr>
	<h2 id="how-to-setup-orbit">How to Setup Orbit</h2>
	<p>Orbit requires minimal HTML markup to function. Our Javascript takes care of most of the heavy lifting for you. The only thing you need to do is add a  <code>&lt;ul data-orbit&gt;&lt;/ul&gt;</code> element to your page. You can then populate it with images, text, and captions. Here's the markup required to implement a basic Orbit slider on your page:
	</p>
	<h4>HTML</h4>
{{#markdown}}
```html
<ul class="example-orbit" data-orbit>
  <li>
	<img src="../assets/img/examples/satelite-orbit.jpg" alt="slide 1" />
	<div class="orbit-caption">
	  Caption One.
	</div>
  </li>
  <li>
	<img src="../assets/img/examples/andromeda-orbit.jpg" alt="slide 2" />
	<div class="orbit-caption">
	  Caption Two.
	</div>
  </li>
  <li>
	<img src="../assets/img/examples/launch-orbit.jpg" alt="slide 3" />
	<div class="orbit-caption">
	  Caption Three.
	</div>
  </li>
</ul>
```
{{/markdown}}
	<h4>Rendered HTML</h4>
{{#markdown}}
```html
<div class="orbit-container">
  <ul data-orbit class="example-orbit orbit-slides-container">
	<li>
	  <img src="http://placehold.it/1000x300/A92B48/fff" alt="slide 1" />
	  <div class="orbit-caption">
		Caption One.
	  </div>
	</li>
	<li class="active">
	  <img src="http://placehold.it/1000x300/EE964D/fff" alt="slide 2" />
	  <div class="orbit-caption">
		Caption Two.
	  </div>
	</li>
	<li>
	  <img src="http://placehold.it/1000x300/FDC43D/fff" alt="slide 3" />
	  <div class="orbit-caption">
		Caption Three.
	  </div>
	</li>
  </ul>

  <!-- Navigation Arrows -->
  <a href="#" class="orbit-prev">Prev <span></span></a>
  <a href="#" class="orbit-next">Next <span></span></a>

  <!-- Slide Numbers -->
  <div class="orbit-slide-number">
	<span>1</span> of <span>3</span>
  </div>

  <!-- Timer and Play/Pause Button -->
  <div class="orbit-timer">
	<span></span>
	<div class="orbit-progress"></div>
  </div>
</div>

<!-- Bullets -->
<ol class="orbit-bullets">
  <li data-orbit-slide-number="1"></li>
  <li data-orbit-slide-number="2" class="active"></li>
  <li data-orbit-slide-number="3"></li>
</ol>
```
{{/markdown}}
	<hr>
	<h2 id="content-sliders">Content Sliders</h2>
	<p>Orbit can also be used with just content and no images.</p>
	<div class="row">
		<div class="large-6 columns">
			<h4>HTML</h4>
{{#markdown}}
```html
<ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
	<div>
	  <h2>Headline 1</h2>
	  <h3>Subheadline</h3>
	</div>
  </li>
  <li data-orbit-slide="headline-2">
	<div>
	  <h2>Headline 2</h2>
	  <h3>Subheadline</h3>
	</div>
  </li>
  <li data-orbit-slide="headline-3">
	<div>
	  <h2>Headline 3</h2>
	  <h3>Subheadline</h3>
	</div>
  </li>
</ul>
```
{{/markdown}}
		</div>
		<div class="large-6 columns">
			<h4>Rendered HTML</h4>
			<style>
				.example-orbit-content li div {
					color: white;
					background: #a382d4;
					padding: 30px 40px;
				}
			</style>
			<ul class="example-orbit-content" data-orbit>
				<li data-orbit-slide="headline-1">
					<div>
						<h2>Headline 1</h2>
						<h3>Subheadline</h3>
					</div>
				</li>
				<li data-orbit-slide="headline-2">
					<div>
						<h2>Headline 2</h2>
						<h3>Subheadline</h3>
					</div>
				</li>
				<li data-orbit-slide="headline-3">
					<div>
						<h2>Headline 3</h2>
						<h3>Subheadline</h3>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<hr>
	<h2 id="deep-linking">Deep Linking</h2>
	<p>To link to a particular slide in your Orbit slider you will need to add a  <code>data-orbit-slide</code> attribute to each slide. Then anywhere on your page you can use <code>data-orbit-link</code> to link to that slide.</p>
	<div class="row">
		<div class="large-6 columns">
			<h4>HTML</h4>
{{#markdown}}
```html
<a data-orbit-link="headline-1" class="small button">
  Goto Slide 1
</a>
<a data-orbit-link="headline-2" class="small button">
  Goto Slide 2
</a>
<a data-orbit-link="headline-3" class="small button">
  Goto Slide 3
</a>
``
{{/markdown}}
		</div>
		<div class="large-6 columns">
			<h4>Rendered HTML</h4>
			<a class="small button" data-orbit-link="headline-1">Goto Slide 1</a>
			<a class="small button active" data-orbit-link="headline-2">Goto Slide 2</a>
			<a class="small button" data-orbit-link="headline-3">Goto Slide 3</a>
			<ul class="example-orbit-content" data-orbit>
				<li data-orbit-slide="headline-1">
					<div>
						<h2>Headline 1</h2>
						<h3>Subheadline</h3>
					</div>
				</li>
				<li data-orbit-slide="headline-2">
					<div>
						<h2>Headline 2</h2>
						<h3>Subheadline</h3>
					</div>
				</li>
				<li data-orbit-slide="headline-3">
					<div>
						<h2>Headline 3</h2>
						<h3>Subheadline</h3>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<hr>
	<h2 id="customize-with-sass">Customize With Sass</h2>
	<div class="row">
		<section class="full-grid">
			<p>We've included a bunch of variables that you'll be able to use if you're into getting SASSy with things.</p>
{{#markdown}}
```scss
$include-html-orbit-classes: $include-html-classes;

// We use these to control the caption styles
$orbit-container-bg: #f5f5f5;
$orbit-caption-bg: rgba(0,0,0,0.6);
$orbit-caption-font-color: #fff;
$orbit-caption-font-size: emCalc(14);
$orbit-caption-position: "bottom";    // Supported values: "bottom", "under"
$orbit-caption-padding: emCalc(10,14);
$orbit-caption-height: auto;

// We use these to control the left/right nav styles
$orbit-nav-bg: rgba(0,0,0,0.6);
$orbit-nav-bg-hover: rgba(0,0,0,0.6);
$orbit-nav-arrow-color: #fff;
$orbit-nav-arrow-color-hover: #ccc;

// We use these to control the timer styles
$orbit-timer-bg: rgba(0,0,0,0.6);
$orbit-timer-show-progress-bar: true;

// We use these to control the bullet nav styles
$orbit-bullet-nav-color: #999;
$orbit-bullet-nav-color-active: #222;
$orbit-bullet-radius: emCalc(18);

// We use these to controls the style of slide numbers
$orbit-slide-number-bg: rgba(0,0,0,0);
$orbit-slide-number-font-color: #fff;
$orbit-slide-number-padding: rem-calc(5px);

// Graceful Loading Wrapper and preloader
$wrapper-class: "slideshow-wrapper";
$preloader-class: "preloader";
```
{{/markdown}}
		</section>
	</div>
	<hr>
	<h2 id="configuring-orbit">Configuring Orbit</h2>
	<p>It's easy to configure Orbit using our provided Javascript. You can use with data-attributes or plain old Javascript. Make sure <code>jquery.js</code>, <code>foundation.js</code>, and <code>foundation.orbit.js</code> have been included on your page before continuing. For example add the following before the closing <code>&lt;body&gt;</code> tag:</p>
{{#markdown}}
```html
<script src="js/jquery.js"></script>
<script src="js/foundation.js"></script>
<script src="js/foundation.orbit.js"></script>
``
{{/markdown}}
	<h3 class="subheader">Here's an example of a customized Orbit container.</h3>
	<p>Using data-attributes is the preferred method of making changes to our Javascript.</p>
{{#markdown}}
```html
<ul data-orbit data-options="animation_speed:1500;">
  ...
</ul>
```
{{/markdown}}
	<h3 id="advanced">Advanced</h3>
	<h3 id="advanced">Advanced</h3>
	<h4 id="js">JS</h4>
{{#markdown}}
```js
$(document).foundation({
  orbit: {
	  animation: 'slide', // Sets the type of animation used for transitioning between slides, can also be 'fade'
	  timer_speed: 10000, // Sets the amount of time in milliseconds before transitioning a slide
	  pause_on_hover: true, // Pauses on the current slide while hovering
	  resume_on_mouseout: false, // If pause on hover is set to true, this setting resumes playback after mousing out of slide
	  next_on_click: true, // Advance to next slide on click
	  animation_speed: 500, // Sets the amount of time in milliseconds the transition between slides will last
	  stack_on_small: false,
	  navigation_arrows: true,
	  slide_number: true,
	  slide_number_text: 'of',
	  container_class: 'orbit-container',
	  stack_on_small_class: 'orbit-stack-on-small',
	  next_class: 'orbit-next', // Class name given to the next button
	  prev_class: 'orbit-prev', // Class name given to the previous button
	  timer_container_class: 'orbit-timer', // Class name given to the timer
	  timer_paused_class: 'paused', // Class name given to the paused button
	  timer_progress_class: 'orbit-progress', // Class name given to the progress bar
	  slides_container_class: 'orbit-slides-container', // Class name given to the
	  bullets_container_class: 'orbit-bullets',
	  slide_selector: 'li', // Default is '*' which selects all children under the container
	  bullets_active_class: 'active', // Class name given to the active bullet
	  slide_number_class: 'orbit-slide-number', // Class name given to the slide number
	  caption_class: 'orbit-caption', // Class name given to the caption
	  active_slide_class: 'active', // Class name given to the active slide
	  orbit_transition_class: 'orbit-transitioning',
	  bullets: true, // Does the slider have bullets visible?
	  circular: true, // Does the slider should go to the first slide after showing the last?
	  timer: true, // Does the slider have a timer visible?
	  variable_height: false, // Does the slider have variable height content?
	  swipe: true,
	  before_slide_change: noop, // Execute a function before the slide changes
	  after_slide_change: noop // Execute a function after the slide changes
  }
});
```
{{/markdown}}
	<hr>
	<h2 id="events">Events</h2>
	<p>There are several events that you can bind to in Orbit. Here's an example of how you can bind to these events:</p>
	<h4 id="html">HTML</h4>
{{#markdown}}
```html
<ul id="featured1" data-orbit>
  ...
</ul>
```
{{/markdown}}
	<h4 id="js">JS</h4>
{{#markdown}}
```js
$("#featured1").on("ready.fndtn.orbit", function(event) {
  console.info("ready");
});
$("#featured1").on("before-slide-change.fndtn.orbit", function(event) {
  console.info("before slide change");
});
$("#featured1").on("after-slide-change.fndtn.orbit", function(event, orbit) {
  console.info("after slide change");
  console.info("slide " + orbit.slide_number + " of " + orbit.total_slides);
});
$("#featured1").on("timer-started.fndtn.orbit", function(event, orbit) {
  console.info("timer started");
});
$("#featured1").on("timer-stopped.fndtn.orbit", function(event, orbit) {
  console.info("timer stopped");
});
```
{{/markdown}}
			</div>
		</div>
	</div>
</div>
