<h1>Doc Template</h1>
<p>A static documentation system using:</p>
<ul class="square">
	<li>Assemble</li>
	<li>Flatdoc</li>
	<li>Grunt</li>
	<li>Bower</li>
	<li>Foundation</li>
	<li>Foundation Font Icons</li>
</ul>
<h2>Big Todo's:</h2>
<ul class="square">
	<li>Convert this page to a .md file</li>
</ul>
