
<div class="hero-unit">
	<h1>'Allo, 'Allo!</h1>
	<p>You now have</p>
	<ul>
		<li>HTML5 Boilerplate</li>


		<li>Assemble</li>
	</ul>
	Generator created and maintained by <a href="http://twitter.com/jeremie_parker" target="_blank" title="@jeremie_parker" style="text-decoration:none;" class="large inline gapped">@jeremie_parker</a>
	<a href="http://github.com/p-j" target="_blank" title="@p-j" style="text-decoration:none;" class="large inline gapped">p-j</a>
	<a href="mailto:yawa@jeremie-parker.com" title="yawa@jeremie-parker.com" style="text-decoration:none; color:#E54C3B;" class="large inline gapped"></a>
</div>

